<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>타이틀</title>
</head>
<body>
<!--블록 태그-->
  <p>반갑습니다</p>
  <h1>h1</h1>
  <h2>h2</h2>
  <h3>h3</h3>
  <h4>h4</h4>
  <h5>h5</h5>
  <h6>h6</h6>
  <div>영역1</div>
  <div>영역2</div>

<!--인라인 태그-->
  <span>울산</span>
  <span>KH</span>
  <span>정보교육원</span>

<!--시작태그만 존재하는 태그 예)br태그-->
  <p>울산<br>KH<br>정보교육원</p>
  <img src="https://cdn.pixabay.com/photo/2018/06/13/18/20/waves-3473335__340.jpg" alt="ocean" width="200px">
</body>
</html>