<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  /* 
  선택자
  1.태그 이름
  2.클래스 속성값 (classfication)
  3.id 속성값 (identification)
  */
  /* 
  div {
    color: lightblue;
    font-size: 30px;
  }

  .c1 {
    color:lawngreen;
    font-size: 30px;
  }

  #id1 {
    color : pink;
    font-size : 30px;
  } 
  */
  .c1 {
    color : lightblue;
    font-size: 1em;
  }
  /*
   .c1.s1 {
    font-size: 2em;
  } 
  */
  p.s1 {
    font-size: 2em;
  }

  * {
    border : 3px solid pink;
  }

</style>
<body>
  <div class = "c1">1</div>
  <p class = "c1 s1">2</p>
  <div class = "c2">3</div>

</body>
</html>